@yellow: #fffa19;
@red: #B31004;
@green: #006300;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron{
  background-color: $yellow;
  color:white;
  @include margenes(50px,0 px);
}

footer{
  padding: 10px 10px 0 10px;
  background-color: $green;
  color: white;
  margin-bottom: 0px;
}

.card-hotel{
  flex: 1 200px;
 margin-top: 10px;
}

.btn-reserva{
  width: 100%;
  border-radius: 0px;
}

a:link {
  color: white;
}

.footer-address-icon{
  padding-right: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.tab-content{
  padding-top: 10px;
}
